<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title CSS Grid Cards
    link(rel="stylesheet", href="./index.pcss")
    script(defer src="./index.js")
  body
    .deck
      for s in ['♠','♥','♦','♣']
        for c in [1,2,3,4,5,6,7,8,9,10]
          .card(data-card=`${c}`, data-suit=`${s}`)
            for i in [...Array(c).keys()]
              span.item= s
        for c in ['J','Q','K']
          .card(data-card=`${c}`, data-suit=`${s}`)
            span.item= c+s